.btn-editar {
  background-color: #ffb914;
  color: #ffff;
  padding: 8px;
  width: 19%;
  border-radius: 8px;
}

.btn-delete {
  background-color: #f03813;
  color: #ffff;
  padding: 8px;
  width: 19%;
  border-radius: 8px;
}
